@import "tailwindcss";

@font-face {
    font-family: "Inter";
    font-display: auto;
    font-weight: 400 700;
    src: url(/public/fonts/InterVariable.ttf);
}

:root {
    --page-width: 1280px;
    --radius-sm: 0.25rem;
    --radius-md: 0.5rem;
}

:root {
    --bg-colour: #fffcfd;
    --text-colour: #262626;
    --primary: #840fe4;
    --primary-darker: #6e11b9;
    --info: #402cf0;
    --warning: #dfa608;
    --danger: #e91123;
    --grey: #eeeced;
    --grey-secondary: #dedcdd;
    --grey-tertiary: #bebcbd;
}

[data-theme="dark"] {
    --bg-colour: #262626;
    --text-colour: #fffcfd;
    --primary: #840fe4;
    --primary-darker: #6e11b9;
    --info: #402cf0;
    --warning: #dfa608;
    --danger: #e91123;
    --grey: #353234;
    --grey-secondary: #444143;
    --grey-tertiary: #555254;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 20px;
}

body {
    background-color: var(--bg-colour);
    margin: 0;
    line-height: 1.5;
    min-height: 100vh;
    transition: background-color 0.15s ease-in-out;
}

body,
input,
textarea,
button {
    color: var(--text-colour);
    font-family: 'Inter', Arial, sans-serif;
    font-size: 1rem;
    transition: color 0.15s ease-in-out;
}

button {
    border: 0;
    cursor: pointer;
}

label {
    font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Inter', Arial, sans-serif;
    font-weight: bold;
    margin: 2rem 0 1rem;
}

p {
    margin: 1rem 0;
}

img {
    object-fit: cover;
    width: 100%;
}

.wrapper {
    max-width: var(--page-width);
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.h1 {
    font-size: 2.6rem;
}

.h2 {
    font-size: 2rem;
}

.h3 {
    font-size: 1.6rem;
}

.h4 {
    font-size: 1.4rem;
}

.h5 {
    font-size: 1.2rem;
}

.h6 {
    font-size: 1.1rem;
}

.section {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.link {
    color: var(--primary);
    font-weight: bold;
    transition: border 0.05s ease-in-out;
}

[data-theme="dark"] .link {
    text-shadow: 2px 1px 1px var(--bg-colour);
}

.link:hover {
    border-bottom: 2px solid var(--primary);
}

.list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    list-style: square;
    margin: 2rem auto;
    padding-left: 1rem;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin: 2rem auto;
}

@media (min-width: 600px) {
    .grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 900px) {
    .h1 {
        font-size: 3.4rem;
    }

    .h2 {
        font-size: 2.6rem;
    }

    .h3 {
        font-size: 2.0rem;
    }

    .h4 {
        font-size: 1.6rem;
    }

    .h5 {
        font-size: 1.3rem;
    }

    .h6 {
        font-size: 1.1rem;
    }

    .grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}